[submodule "repos/ILoSA"]
	path = repos/ILoSA
	url = https://github.com/franzesegiovanni/ILoSA
[submodule "repos/pbdlib-matlab"]
	path = repos/pbdlib-matlab
	url = https://gitlab.idiap.ch/rli/pbdlib-matlab.git
[submodule "repos/PythonRobotics"]
	path = repos/PythonRobotics
	url = https://github.com/AtsushiSakai/PythonRobotics.git
[submodule "repos/robotics-codes-from-scratch"]
	path = repos/robotics-codes-from-scratch
	url = https://gitlab.idiap.ch/rli/robotics-codes-from-scratch.git
[submodule "repos/Task-Parameterized-Gaussian-Mixture-Model"]
	path = repos/Task-Parameterized-Gaussian-Mixture-Model
	url = https://github.com/BatyaGG/Task-Parameterized-Gaussian-Mixture-Model
